.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 32px;
	width: 420px;
	margin: 0 auto;
	background-color: var(--gray500);
	border-radius: var(--s3);
	padding: var(--s8) var(--s6);
}

.wrapper {
	display: flex;
	max-width: 100%;
	background-color: var(--bg-container);
	padding: 40px;
	margin: 0 auto;
	flex-direction: column;
	text-align: center;
	gap: 32px;
	border-radius: 8px;
}