.container {
	padding-top: 32px;
	display: flex;
	gap: 100px;
}

.textContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-size: 54px;
}

.subtitle {
	color: var(--background-start-rgb);
}

.desc {
	font-size: 20px;
}

.imgContainer {
	flex: 1;
	position: relative;
}

.boxes {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.box h1 {
	color: var(--blue-800);
}

.img {
	object-fit: contain;
}

@media (max-width: 1024px) {
	.imgContainer {
		height: 300px;
		position: relative;
	}

	.container {
		padding-top: 20px;
	}
}

@media (max-width: 768px) {
	.imgContainer {
		flex: none;
		height: 300px;
		position: relative;
	}

	.container {
		padding: 20px 0;
		display: flex;
		align-items: stretch;
		flex-direction: column-reverse;
	}

	.textContainer {
		text-align: center;
	}
}