.container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.top {
	display: flex;
	flex-direction: column;
}

.bottom {
	padding: 20px 12px;
}

.imgContainer {
	object-fit: contain;
	height: 320px;
	position: relative;
}

.img {
	object-fit: cover;
	border-radius: 8px 8px 0 0;
}

.date {
	font-size: 12px;
	color: var(--gray900);
}

.title {
	color: var(--black1000);
	font-size: 24px;
	margin-bottom: 20px;
}

.desc {
	margin-bottom: 20px;
	font-weight: 400;
	color: var(--black900);
}