.container {
	display: flex;
	width: var(--screen-m);
	margin: 0 auto;
	gap: 50px;
	height: 100vh;
	margin-top: 20px;
	flex-direction: column;
}

.back {
	display: flex;
	padding: 12px;
	background-color: var(--gray500);
	border-radius: 12px;
}

.imgContainer {
	flex: 2;
	position: relative;
	height: calc(100vh - 200px);
	min-height: 350px;
}

.img {
	object-fit: cover;
	border-radius: 12px;
}

.textContainer {
	display: flex;
	flex: 3;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-size: 32px;
}

.detail {

	display: flex;
	gap: 10px;
}

.detailText {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.detailTitle {
	color: var(--gray900);
	font-weight: 500;
}

.content {
	font-size: 20px;
}

@media (max-width: 768px) {
	.imgContainer {
		display: block;
	}
}