.navbar {
	display: flex;
	flex-direction: row;
}

.links {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	align-items: center;
	gap: 20px;
	
}

.logout {
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
}

.menuButton,
.mobileLinks {
	display: none;
}

@media (max-width: 768px) {
	.links {
		display: none;
	}

	.menuButton {
		display: block;
		cursor: pointer;
	}

	.mobileLinks {
        position: fixed;
        top: 120px;
        right: 0;
        width: 100%;
        height: calc(100vh - 120px);
        background-color: darkgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        font-size: 32px;
        z-index: 9999;
        padding: 24px;
        border-radius: 16px 16px 0 0;
	}
}
