.container {
	display: flex;
	gap: 100px;
	min-height: 100%;
}

.title {
	font-size: 54px;
}

.desc {
	font-size: 20px;
	padding-bottom: 20px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 20px;
}

.imgContainer {
	flex: 1;
	position: relative;
}

.heroImg {
	object-fit: fill;
}

.grid {
	display: grid;
	flex: 1;
	width: 100vh;
}

.card {
	display: flex;
	padding: 1rem 1.2rem;
	border-radius: var(--s4);
	background: var(--invert);
	border: 1px solid var(--gray600);
	transition: background 300ms, border 200ms;
}

.card:hover {
	background: var(--invert);
	border: 1px solid var(--gray600);
	transition: background 300ms, border 200ms;
}

.card p {
	margin: 0;
	opacity: 0.6;
	font-size: 0.9rem;
	line-height: 1.5;
	max-width: 30ch;
	text-wrap: balance;
}



.buttons {
	display: flex;
	gap: 20px;
}

.button:first-child {
	background-color: var(--links);
	color: white;
}

.button {
	background-color: var(--btn-bg);
	color: var(--text-primary);
	padding: 20px;
	min-width: 120px;
	cursor: pointer;
	border: none;
	border-radius: 12px;
	font-size: 16px;
}

@media (max-width: 1024px) {
	.container {
		flex-direction: column;
		text-align: center;
	}

	.grid {
		display: none;
	}

	.brands {
		margin: 0 auto;
	}

	.buttons {
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.title {
		flex-direction: column;
		font-size: 54px;
	}

	.grid {
		display: none;
	}


}