.container {
	display: flex;
	gap: 100px;
}

.title {
	font-size: 54px;
}

.desc {
	font-size: 20px;
	padding-bottom: 20px;
}

.textContainer {
	flex: 1;
}

.imgContainer {
	flex: 1;
	position: relative;
}

.heroImg {
	object-fit: fill;
}

.brands {
	width: 500px;
	height: 50px;
	position: relative;
	filter: grayscale(1);
}

.buttons {
	display: flex;
	gap: 20px;
}

.button:first-child {
	background-color: var(--links);
	color: var(--active-link);
}

.button {
	background-color: var(--btn-bg);
	color: var(--text-primary);
	padding: 20px;
	min-width: 120px;
	cursor: pointer;
	border: none;
	border-radius: 12px;
	font-size: 16px;
}