.navbar {
	display: flex;
	height: 80px;
	padding: var(--s5);
	align-items: center;
	justify-content: space-between;
	border-radius: var(--s3);
	background: var(--bg-container);
	margin-top: var(--s5);
	color: var(--text);
}

.logo {
	width: 40px;
	height: 40px;
	background-color: var(--gray800);
	border-radius: var(--s6);
	font-size: 30px;
	font-weight: bold;
	color: var(--text);
}